PORT=
NODE_ENV=

FRONTEND_URL=
BACKEND_URL=
MONGODB_URI=

JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
JWT_VERIFY_SECRET=
JWT_VERIFY_EXPIRES_IN=1d
JWT_RESET_SECRET=
JWT_RESET_EXPIRES_IN=1h

SMTP_USER=
SMTP_PASSWORD=

SYNC_GAME_SERVERS=

PALWORLD_ADMIN=
PALWORLD_API_ADDRESS=
PALWORLD_API_PORT=

MINECRAFT_ADDRESS=
MINECRAFT_PORT=
MINECRAFT_QUERY_PORT=
MINECRAFT_LINK_TTL_HOURS=4

VRISING_ADDRESS=
VRISING_PORT=
VRISING_QUERY_PORT=

VALHEIM_ADDRESS=
VALHEIM_PORT=
VALHEIM_QUERY_PORT=