PORT=
NODE_ENV=

FRONTEND_URL=
MONGODB_URI=

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
JWT_VERIFY_SECRET=
JWT_VERIFY_EXPIRES_IN =
JWT_RESET_SECRET=
JWT_RESET_EXPIRES_IN=1h

SMTP_USER=
SMTP_PASSWORD=