PORT=
NODE_ENV=

FRONTEND_URL=
BACKEND_URL=
MONGODB_URI=

JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
JWT_VERIFY_SECRET=
JWT_VERIFY_EXPIRES_IN=1d
JWT_RESET_SECRET=
JWT_RESET_EXPIRES_IN=1h

SMTP_USER=
SMTP_PASSWORD=

SYNC_GAME_SERVERS=

# TO CHECK MINECRAFT_RCON_HOST=
# TO CHECK MINECRAFT_RCON_PORT=
# TO CHECK MINECRAFT_RCON_PASSWORD=

# TO CHECK VRISING_RCON_HOST=
# TO CHECK VRISING_RCON_PORT=
# TO CHECK VRISING_RCON_PASSWORD=

# TO CHECK VALHEIM_RCON_HOST=
# TO CHECK VALHEIM_RCON_PORT=
# TO CHECK VALHEIM_RCON_PASSWORD=