.mainContent {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 24px;
  position: relative;
  z-index: 10;
}
.server {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 580px), 1fr));
  gap: 24px;
  margin-top: 32px;
}
